<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">



	<title>Welcome - HAUS Living Concepts - Malaysian Contemporary
Furniture Malaysia contemporary modern lifestyle Malaysia stylish
furniture Malaysia Modern furniture Damansara Perdana Furniture Shop
Modern Furniture Tropicana Mall Petaling Jaya</title>
	<meta name="keywords" content="Malaysian Contemporary Furniture, Malaysia Modern furniture, contemporary furniture, Malaysia lifestyle, contemporary modern furniture,  Malaysia contemporary furniture, Malaysia Furniture Shop, Malaysia stylish furniture, Mont Kiara Furniture Shop, Damansara Furniture Shop, Tropicana Furniture Shop, CIFF winner, Product Design, Belgium Design, ">
	<meta name="Description" content="HAUS Living Concepts Malaysian Contemporary Furniture Malaysia Modern furniture contemporary modern lifestyle furniture in Malaysia, We have furniture shop in Sri Hartamas, Furniture Shop in Tropicana City Mall, Furniture shop in Brunei, participate in CIFF Guangzhou">
	
	<head>
	      
<title>Pragprog Books Online Store</title>
<%= stylesheet_link_tag "depot" , :media => "all" %>
<%= javascript_include_tag :defaults %>
        <%= stylesheet_link_tag 'common.css' %>
        <%= stylesheet_link_tag 'home.css' %>
</head>
	
	<style type="text/css">
	<!--
	/*-----Header Image-----*/
	div.headerimage
	{
	background:#CFD0CB url('/images/bg-image01.jpg')no-repeat center top;
	height:260px;
	overflow:hidden;
	margin-top:-30px;
	}
	
	-->
	</style>
	
	
</head><body>
	
	<!-- header [Start]-->
	<div class="header">
	
		<!-- Logo and navigation [Start]-->
		<div class="logo_nav_wrapper">
 
		  <div class="logo_nav">

			<a href="http://127.0.0.1:3000/store/"><h1 id="logo"><span>haus.com.my</span></h1></a>
			             
<div id="sitelink"> 
<a href="http://www.haus.com.my/index.php" class="sitelink">Home</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/content.php?id=2" class="sitelink">About Us</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/page_news.php" class="sitelink">News</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/content.php?id=5" class="sitelink">Promotions</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/page_showroom.php" class="sitelink">Showrooms</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/content.php?id=32" class="sitelink">Awards</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/content.php?id=29" class="sitelink">Careers</a>&nbsp;|&nbsp;<a href="http://www.haus.com.my/page_contact.php" class="sitelink">Contact</a><!--

<a href="index.php" class="sitelink">Home</a>&nbsp;|&nbsp;

<a href="page_about.php" class="sitelink">About Us</a>&nbsp;|&nbsp;

<a href="page_news.php" class="sitelink">News</a>&nbsp;|&nbsp;

<a href="page_promotion.php" class="sitelink">Promotions</a>&nbsp;|&nbsp;

<a href="page_showroom.php" class="sitelink">Showrooms</a>&nbsp;|&nbsp;

<a href="page_career.php" class="sitelink">Careers</a>&nbsp;|&nbsp;

<a href="page_contact.php" class="sitelink">Contact</a>

-->
</div>
			 
			 
           <div id="nav">
<ul>
  <!--- LI class="Furniture"><A class="selected" title="Furniture" href="index.php">Furniture</A></LI-->
  <li class="Furniture"><a title="Furniture" href="http://www.haus.com.my/furniture.php">Furniture</a></li>
  <li class="Gift"><a title="Coming Soon" href="javascript:alert('Coming%20Soon')">Gift Ideas</a></li>
  <li class="B2B"><a title="Coming Soon" href="javascript:alert('Coming%20Soon')">B2B</a></li>
  </ul></div>
            
            
		  </div>			





		</div>
		<!-- Logo and navigation [End]-->
		




	</div>	<!-- header [End]-->

	<!-- header [Start]-->
	<div class="headerimage">
	</div>
	<!-- header [End]-->


<div id="container">
	<div class=" content_wrapper" style="min-height: 1000px;">
		
        <div id="left_content">
		<!-- side content [Start]-->
        <!-- side content [Start]-->
        <!-- side content [Start]-->
        <table width="250" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
   <td background="/index.php_files/sidemenu_r1_c1.png" height="42"><h3 style="color: rgb(255, 255, 255);">&nbsp;&nbsp;Our Furniture  </h3></td>
  </tr>
  <tr>
   <td background="/index.php_files/sidemenu_r2_c1.png" height="120" valign="top"><table width="95%" border="0" cellpadding="2" cellspacing="0">
     
     	 
	 <tbody><tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/1">Sofa</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/2">Chair</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/3">Coffee Table</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/4">Cabinet</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/5">Dining</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/6">Accessories</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink"href="http://127.0.0.1:3000/products/showproducts/7">Bedding</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>
	 
   	 
	 <tr>
       <td width="28" align="center" height="20"><img src="/index.php_files/dot03.gif" width="20" height="20"></td>
       <td><a class="sublink" href="http://127.0.0.1:3000/products/showproducts/8">Lighting</a></td>
     </tr>
     <tr>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
       <td bgcolor="#cccccc"><img src="/index.php_files/spacer.gif"></td>
     </tr>	 
	 
    

   </tbody></table></td>
  </tr>
  <tr>
   <td background="/index.php_files/sidemenu_r3_c1.png" height="26"><h3 style="color: rgb(255, 255, 255);">&nbsp;&nbsp;Product Search</h3></td>
  </tr>
  <tr>
   <td style="padding: 20px 4px;" align="center" background="/index.php_files/sidemenu_r4_c1.png" height="80" valign="top">
   
   
  <!--form action="/sofas/find" method="post"> 
  <input id="search_string" name="search_string" type="text">
  <input name="commit" type="submit" value="Cari">	
  </form-->


   

  <% form_tag "/products/find" do %>
  <%= select_tag "category", 
               options_for_select([["Sofa", "1"], 
                  ["Chair", "2"],["Coffee Table", "3"],["Cabinet", "4"],["Dinings", "5"],["Accessories", "6"]]) %>
   
      
    <%= text_field_tag :search_string %>
    <%= submit_tag "Search" %>
  <% end %>

   
   
   
   
   
   </td>
  </tr>
  
  <tr>
   <td background="/index.php_files/sidemenu_r3_c1.png" height="26"><h3 style="color: rgb(255, 255, 255);">&nbsp;&nbsp;Mailing List</h3></td>
  </tr>
  <tr>
   <td style="padding: 20px 4px 4px;" align="center" background="/index.php_files/sidemenu_r4_c1.png" height="80" valign="top">
   
   
<script>
function checkFieldsM(){
	if(document.signupmail.strName.value==""){
		alert("Please fill in your Name.");
		document.signupmail.strName.focus();
		return false;
	}
	if((document.signupmail.address.value=="")||(document.signupmail.address.value.indexOf('@')==-1)){
		alert("Please fill in your Email correctly.");
		document.signupmail.address.focus();
		return false;
	}
}
</script> 
   
   
<form action="mailinglist-process.php" method="post" name="signupmail" id="signupmail" onsubmit="return checkFieldsM();"><input name="list_id" size="20" value="1" type="hidden"><table width="200" align="center" border="0" cellpadding="4" cellspacing="0">
             <tbody><tr>
               <td class="text" align="left" valign="top"><input name="agree_receive" checked="checked" disabled="disabled" type="checkbox">
               Yes, I would like to receive information or any special offer that may be of interest to me.</td>
             </tr>
             <tr>
               <td class="text" align="left" valign="bottom"><img src="/index.php_files/spacer.gif" width="1" height="5"></td>
             </tr>
             <tr>
               <td class="text" align="left" valign="bottom">Your Name</td>
             </tr>
             <tr>
               <td class="text" align="left" valign="bottom"> 
                 <input name="strName" id="strName" style="width: 195px;" type="text">               </td>
             </tr>
             <tr>
               <td class="text" align="left" valign="top">Email Address </td>
             </tr>
             <tr>
               <td class="text" align="left" valign="top">
                 <input name="address" id="address" style="width: 195px;" type="text"> </td>
             </tr>
             
             <tr>
               <td><input name="submit2" src="/index.php_files/but_submit.gif" type="image"></td>
             </tr>
             
           </tbody></table>
</form>
   
   
   
   
   
   </td>
  </tr>
  
  <tr>
   <td background="/index.php_files/sidemenu_r5_c1.png" height="43"><img name="sidemenu_r5_c1" src="/index.php_files/sidemenu_r5_c1.png" id="sidemenu_r5_c1" alt="" width="250" border="0" height="43"></td>
  </tr>
</tbody></table>
		<div align="\&quot;CENTER\&quot;">
<table width="230" border="0" cellpadding="0" cellspacing="0">

<tbody><tr>
<td align="center"><img src="/index.php_files/spacer_002.gif" width="10" height="12"></td>
</tr>
<tr>
<td align="center"><a href="http://haus.com.my/content.php?id=5" target="_self"><img src="/index.php_files/1.jpg" width="200" border="0"></a></td>
</tr>
  
	
		<tr>
<td align="center"><img src="/index.php_files/spacer_002.gif" width="10" height="12"></td>
</tr>    
<tr>
<td align="center">&nbsp;
</td>
</tr>  


</tbody></table>	
</div>
        






        
        
        <!-- side content [end]-->
        <!-- side content [end]-->
        <!-- side content [end]-->
        </div>
        
        
        <div id="content">	
		<!-- content [Start]-->
        <!-- content [Start]-->
        <!-- content [Start]-->
			
        
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
   <td width="14" bgcolor="#ffffff"><img name="content_r1_c1" src="/index.php_files/content_r1_c1.png" id="content_r1_c1" alt="" width="14" border="0" height="18"></td>
   <td background="/index.php_files/content_r1_c2.png" bgcolor="#ffffff" height="18"><img src="/index.php_files/spacer.gif"></td>
   <td width="16"><img name="content_r1_c3" src="/index.php_files/content_r1_c3.png" id="content_r1_c3" alt="" width="16" border="0" height="18"></td>
  </tr>
  <tr>
   <td background="/index.php_files/content_r2_c1.png" bgcolor="#ffffff"><img name="content_r2_c1" src="/index.php_files/content_r2_c1.png" id="content_r2_c1" alt="" width="14" border="0" height="456"></td>
   <td bgcolor="#ffffff" height="500" valign="top"><table width="100%" border="0" cellpadding="4">
     <tbody><tr>
       <td colspan="3" class="text" style="padding: 0px;"><table width="100%" border="0" cellpadding="4">
  <tbody>
   
    
  </tbody>
</table></td>
     </tr>
	      
     <%= yield %>
     
     
     
     
     <tr>
       <td colspan="3" class="text">&nbsp;</td>
     </tr>
     
     <tr>
       <td colspan="3" class="text">
<!-- [Product list][starts] -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                
				<tbody><tr>
				
								<td width="33.3333333333%" height="1" valign="top"></td>
								<td width="33.3333333333%" height="1" valign="top"></td>
								<td width="33.3333333333%" height="1" valign="top"></td>
								
                </tr>
				
				 				
 				
				<!-- [spacer][starts] -->
                <tr>
				
								<td width="33.3333333333%" height="10" valign="top">&nbsp;</td>
								<td width="33.3333333333%" height="10" valign="top">&nbsp;</td>
								<td width="33.3333333333%" height="10" valign="top">&nbsp;</td>
								
                </tr>
                <!-- [spacer][ends] -->
				
					
				
</tbody></table>

	
</td>
     </tr>
	 
  </tr>
</tbody></table>
        
        
        <!-- content [end]-->
        <!-- content [end]-->
        <!-- content [end]-->
		</div>
			 <!-- content_wrapper [end]-->
	</div>
	
	

	
	
	  




<font color="#ffffff">

</font><div style="display: none;">
</div><font color="#ffffff">  	

   <!--container [end]--> 
   </font></div>
<font color="#ffffff">    
	
  



<script src="index.php_files/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1095761-9";
urchinTracker();
</script>
</font></div></body><script type="text/javascript"><!--
function __RP_Callback_Helper(str, strCallbackEvent, splitSize, func){var event = null;if (strCallbackEvent){event = document.createEvent('Events');event.initEvent(strCallbackEvent, true, true);}if (str && str.length > 0){var splitList = str.split('|');var strCompare = str;if (splitList.length == splitSize)strCompare = splitList[splitSize-1];var pluginList = document.plugins;for (var count = 0; count < pluginList.length; count++){var sSrc = '';if (pluginList[count] && pluginList[count].src)sSrc = pluginList[count].src;if (strCompare.length >= sSrc.length){if (strCompare.indexOf(sSrc) != -1){func(str, count, pluginList, splitList);break;}}}}if (strCallbackEvent)document.body.dispatchEvent(event);}function __RP_Coord_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_Coord_Callback = str;pluginList[index].__RP_Coord_Callback_Left = splitList[0];pluginList[index].__RP_Coord_Callback_Top = splitList[1];pluginList[index].__RP_Coord_Callback_Right = splitList[2];pluginList[index].__RP_Coord_Callback_Bottom = splitList[3];};__RP_Callback_Helper(str, 'rp-js-coord-callback', 5, func);}function __RP_Url_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_Url_Callback = str;pluginList[index].__RP_Url_Callback_Vid = splitList[0];pluginList[index].__RP_Url_Callback_Parent = splitList[1];};__RP_Callback_Helper(str, 'rp-js-url-callback', 3, func);}function __RP_TotalBytes_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_TotalBytes_Callback = str;pluginList[index].__RP_TotalBytes_Callback_Bytes = splitList[0];};__RP_Callback_Helper(str, null, 2, func);}function __RP_Connection_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_Connection_Callback = str;pluginList[index].__RP_Connection_Callback_Url = splitList[0];};__RP_Callback_Helper(str, null, 2, func);}
//--></script></html>
