<h1>New category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :catname %><br />
    <%= f.text_field :catname %>
  </p>
  <p>
    <%= f.label :catid %><br />
    <%= f.text_field :catid %>
  </p>
  <p>
    <%= f.label :catimage %><br />
    <%= f.text_field :catimage %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>